@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* background-color: #114729; */
}
.bodyreg{
    background-image: linear-gradient(180deg, #0e3c23, #3f825d);
/* height: 100%!important; */


}
.bodyreg .logobg{
    width: 11rem;
    margin: 2rem 7rem;
}
.register .row{
    background-color: white ;
    border-radius: 3rem;
    /* box-shadow: 1rem 1rem 1rem; */
    /* width: 70%; */
    align-items: center!important;
    margin: 0rem 10rem;
}
.register img{
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    width: 40rem!important;
    margin: 3rem 4rem!important;
}
.register h1{
    margin: 3rem 5rem;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
}
.myform{
    padding: 2rem 4.5rem 3rem 8.5rem;
}
.form-control{
    /* border: 1px solid red; */
    border-radius: 5px;
    /* background: #C0E1CF ; */
    /* letter-spacing: 1rem; */
    height: 4.7rem!important;
    padding:  3.5rem 0rem 1.5rem 4rem!important;
    font-size: 1.5rem;
    
    
}
.form-control:focus{
    border-radius: 5px;
    /* background: #C0E1CF ; */
    background: #F5F5F5;
    margin-bottom: 2rem;
    box-shadow: none;
    border: none;
    box-shadow: 0 0.2rem 0.2rem #49A472 ;

    /* height: 4.7rem!important; */
    
}
label{
    font-size: 1.4rem;
    padding: 1.5rem 2.5rem 2rem 4.5rem!important;
    letter-spacing: 0.1rem;
    color: #6A6262;
    
}
.form-floating{
    position: relative;
}
.icon{
    position: absolute;
    top: calc(40%);
    left: 1.3rem;
    font-size: 1.7rem;
    color: #114729;
}
.loginbtn .btn{
    width: 20rem;
      height: 5rem;
      border-radius: 3rem!important;
      background-color: #114729!important;
      text-transform: capitalize;
      font-size: 1.8rem!important;
      letter-spacing: 0.3rem;
      color:#C0E1CF!important;
      font-weight: 600;
      border:none!important;
      margin: 2.5rem 0;
}
.loginbtn .btn:hover{
    color:black!important;
    background-color: #49A472!important;
    box-shadow: 0 0.2rem 0.5rem #206e42 ;
    transition: all 0.3s ease!important;
    border: none!important;
}
.bn{
    font-size: 1.3rem;
    color: #49A472;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-align: center;
}
.pwlink{
    color: #114729;
    letter-spacing: 0.1rem;
    

}
.pwlink:hover{
    color: #49A472;
}